<div class="container-fluid" style="width: 100vw;height: 90vh;background-color: #1442bc;">
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-8 offset-xs-2">
            <mat-card style="text-align: center;margin-top: 20vh;border-radius: 10px;">
                    <mat-card-title style="font-weight: 400;font-size: 32px;margin-top: 2vh;">Devconnect</mat-card-title>
                <form [formGroup]="signupForm" style="margin-top: 30px;display: flex;flex-direction: column; align-items: center;">
                    <mat-form-field>
                        <input type="email" placeholder="Your Email" matInput formControlName="email">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" placeholder="Your Password" matInput formControlName="password">
                        <mat-hint>Password should contain atleast 6 characters</mat-hint>
                    </mat-form-field>
                    <button 
                    (click)="onSignUp()" 
                    [class.spinner]="isLoading" 
                    type="button" 
                    style="width:100px;margin-bottom: 2vh;margin-top: 2vh;" 
                    color="primary"
                    mat-raised-button 
                    [disabled]="isLoading || !signupForm.valid"
                    >Sign up</button>
                    <p *ngIf="isError" style="color: red;font-size: 16px;">
                        {{errorName}}
                    </p>
                </form>
            </mat-card>
            <mat-card style="text-align: center;margin-top: 5vh;border-radius: 10px;">
                <p>Have an account? 
                    <a routerLink="/login" style="font-size: 16px;text-decoration: none;">Log in</a>
                </p>
            </mat-card>
        </div>
    </div>
</div>