<div class="container-fluid" style="min-height: 90vh;width:100vw;background-color: #1442bc;padding-bottom: 50px;">
    <div class="row" >
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 5vh;" *ngFor="let profile of userProfiles;let i=index">
                <mat-card style="display: flex;flex-direction: column;align-items: center;">
                    <ngx-avatar [githubId]="profile.githubName" [size]="150" *ngIf="profile.githubName"></ngx-avatar>
                    <ngx-avatar [name]="profile.name" [size]="150" *ngIf="!profile.githubName"></ngx-avatar>
                    <p style="margin-top: 15px;font-size: 24px;font-weight: 400;" >{{profile.name}}</p>
                    <p style="margin-top: 20px;font-size: 18px;font-weight: 400;" *ngIf="profile.jobTitle">{{profile.jobTitle}}</p>
                    <p *ngIf="profile.location">
                        <span><mat-icon style="color: cornflowerblue;">location_on</mat-icon></span>
                        <span style="font-size: 15px;font-weight: 400;height: 100%;">{{profile.location}}</span>
                    </p>
                    <button mat-raised-button color="primary"(click)="showProfile(i)">
                        show Profile
                    </button>
                </mat-card>
            </div>
    </div>
</div>