<div class="container-fluid" style="height: 90vh;width:100vw;background-color: #1442bc;">
    <div class="row">
        <div class="col-10 offset-1">
            <mat-card style="margin-top: 10vh;text-align: center;height: 35vh;" *ngIf="isLoading">
                <div style="margin-top: 10vh;" class="lds-ripple"><div></div><div></div></div>
                
             </mat-card>
            <mat-card style="margin-top: 10vh;" *ngIf="userProfile && !isLoading">
               <div style="display: flex;flex-direction: column;align-items: center;">
                <ngx-avatar [size]="180" [githubId]="userProfile.githubName" *ngIf="userProfile.githubName"></ngx-avatar>
                <ngx-avatar [size]="180" *ngIf="!userProfile.githubName" [name]="userProfile.name" bgColor="#1442bc"></ngx-avatar>
                <button (click)="onEdit()" mat-raised-button style="margin-top: 5vh;"  color="primary">Edit Profile</button>
               </div>
               
                   
            </mat-card>
            <mat-card style="margin-top: 10vh;" *ngIf="!userProfile && !isLoading">
               <div style="display: flex;flex-direction: column;justify-content: center;align-content: center;align-items: center;">
                <ngx-avatar [size]="180" githubId="null"></ngx-avatar>
                <p style="margin-top: 2vh;font-size: 16px;color: #007bff;"> Hi {{userEmail}}</p>
                <button (click)="onCreate()" style="width:200px;height: 60px;margin-top: 2vh;" mat-raised-button color="primary">
                    Create your profile
                </button>
               </div>
            </mat-card>
        </div>
    </div>
</div>