<div class="container-fluid" style="height: 90vh;width:100vw;background-color: #1442bc;">
    <div class="row">
        <div class="col-10 offset-1">
            <mat-card style="margin-top: 10vh;" *ngIf="userProfile">
               <div style="display: flex;flex-direction: row;align-content: center;justify-content: center;">
                <ngx-avatar [size]="180" githubId="sgarg5858"></ngx-avatar>
               </div>
               <div style="display: flex;flex-direction: row;margin-top: 5vh;">
                <div class="col-4 offset-4">
                    <button mat-raised-button style="width:100%"  color="primary">Edit Profile</button>
                </div>
               </div>
            </mat-card>
            <mat-card style="margin-top: 10vh;" *ngIf="!userProfile">
               <div style="display: flex;flex-direction: column;justify-content: center;align-content: center;align-items: center;">
                <ngx-avatar [size]="180" githubId="null"></ngx-avatar>
                <p style="margin-top: 2vh;font-size: 20px;color: #007bff;"> Hi {{userEmail}}</p>
                <button (click)="onCreate()" style="width:200px;height: 60px;margin-top: 2vh;" mat-raised-button color="primary">
                    Create your profile
                </button>
               </div>
            </mat-card>
        </div>
    </div>
</div>