<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-12 offset-sm-0 col-xs-12 offset-xs-0 ">
            <mat-card style="margin-top: 50px;background-color: white;width: 100%;display: flex;flex-direction: column;align-content: center;justify-content: center;align-items: center;">
                <form  [formGroup]="profileInfoForm" style="display: flex;flex-direction: column;align-content: center;justify-content: center;align-items: center;">
                    <mat-form-field style="width: 250px;">
                        <input matInput placeholder="Enter your name" type="text" formControlName="name">
                    </mat-form-field>
                    <mat-form-field style="width: 250px;margin-top:2vh">
                        <input matInput placeholder="Enter your github username" type="text" formControlName="githubName">
                        <mat-hint>We will use your github username to get profile picture</mat-hint>
                    </mat-form-field>
                    <mat-form-field style="width: 250px;margin-top:3vh">
                        <input matInput placeholder="Your Location" placeholder="e.g Pune,India" type="text" formControlName="location">
                    </mat-form-field>
                    <mat-form-field style="width: 250px;margin-top: 2vh;">
                        <input matInput placeholder="Job Title e.g Consultant" type="text" formControlName="jobTitle">
                    </mat-form-field>

                    <mat-expansion-panel style="margin-top: 2vh;" (opened)="experiencepanelState = true"
                       (closed)="experiencepanelState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                      Add  Experiences
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div formArrayName="experiences">
                        <div *ngFor="let experienceControl of getExperienceControls();let i=index" [formGroupName]="i">
                            <span style="display: flex;flex-direction: row;">
                                <p style="margin-top: 10px;">Add {{i+1}} experience</p>
                            <button  (click)="deleteExperience(i)" style="color: red;margin-left: 10px;" mat-icon-button><mat-icon>close</mat-icon></button>
                            </span>
                            <span>
                                <mat-form-field>
                                    <input matInput placeholder="Enter Company" type="text" formControlName="company">
                                </mat-form-field>
                                <mat-slide-toggle style="margin-left: 20px;" (input)="togglePresentThingForExperience(i)" color="primary" formControlName="present">Present</mat-slide-toggle>
                            </span>
                           
                           <span style="display: flex;flex-direction: column;">
                            <mat-form-field>
                                <input matInput placeholder="Joining Date" type="date" formControlName="from">
                            </mat-form-field>
                            <mat-form-field style="margin-left: 5px;" >
                                <input  [readonly]="experiencePresent[i]"  matInput placeholder="Till Date" type="date" formControlName="to">
                            </mat-form-field>
                           </span>

                            <mat-form-field>
                                <input matInput placeholder="Enter Job Title" type="text" formControlName="jobTitle">
                            </mat-form-field>
                            <hr>
                        </div>
                    </div>

                    <div style="display: flex;flex-direction: row;">
                        <button color="primary" type="button" mat-raised-button (click)="addExperience()">Add Experience</button>
                        <!-- <button style="margin-left: 2px;background-color: red;" color="primary" type="button" mat-raised-button (click)="deleteAllExperiences()">Delete All</button> -->
                    </div>
                </mat-expansion-panel>

                 <mat-expansion-panel style="margin-top: 2vh;" (opened)="educationpanelState = true"
                       (closed)="educationpanelState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                      Add  Educations
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div formArrayName="educations">
                        <div *ngFor="let educationControl of getEducationControls();let i=index" [formGroupName]="i">
                            <span style="display: flex;flex-direction: row;">
                                <p style="margin-top: 10px;">Add {{i+1}} education</p>
                            <button  (click)="deleteEducation(i)" style="color: red;margin-left: 10px;" mat-icon-button><mat-icon>close</mat-icon></button>
                            </span>
                            <span>
                                <mat-form-field>
                                    <input matInput placeholder="Enter School" type="text" formControlName="school">
                                </mat-form-field>
                                <mat-slide-toggle style="margin-left: 20px;" (input)="togglePresentThingForEducation(i)" color="primary" formControlName="present">Present</mat-slide-toggle>
                            </span>
                           
                           <span style="display: flex;flex-direction: column;">
                            <mat-form-field>
                                <input matInput placeholder="Joining Date" type="date" formControlName="from">
                            </mat-form-field>
                            <mat-form-field style="margin-left: 5px;" >
                                <input  [readonly]="educationPresent[i]"  matInput placeholder="Till Date" type="date" formControlName="to">
                            </mat-form-field>
                           </span>

                            <mat-form-field>
                                <input matInput placeholder="Enter Degree" type="text" formControlName="degree">
                            </mat-form-field>
                            <hr>
                        </div>
                    </div>

                    <div>
                        <button color="primary" type="button" mat-raised-button (click)="addEducation()">Add Education</button>
                    </div>
                </mat-expansion-panel>
                

            <mat-expansion-panel style="margin-top: 2vh;" (opened)="skillpanelState = true"
                  (closed)="skillpanelState = false">
               <mat-expansion-panel-header>
               <mat-panel-title>
                 Add  Skills
               </mat-panel-title>
               </mat-expansion-panel-header>
               <div formArrayName="skills">
                   <div *ngFor="let skillControl of getSkillControls();let i=index" [formGroupName]="i">
                       <span style="display: flex;flex-direction: row;">
                        <mat-form-field>
                            <input matInput placeholder="Enter Skill Name" type="text" formControlName="skill">
                        </mat-form-field>
                       <button  (click)="deleteSkill(i)" style="color: red;margin-left: 10px;" mat-icon-button><mat-icon>close</mat-icon></button>
                       </span>
                   </div>
               </div>

               <div>
                   <button color="primary" type="button" mat-raised-button (click)="addSkill()">Add Skill</button>
               </div>
           </mat-expansion-panel>
                    <button 
                    [class.spinner]="updateLoading"
                    [disabled]="updateLoading"
                    style="margin-top: 10px;" 
                    mat-raised-button 
                    color="primary"
                    (click)="onSave()"
                    >
                    {{editMode? 'Update':'Save'}}
                    </button>
                    <p style="color: red;margin-top: 5px;font-size: 16px;" *ngIf="updateError">
                    Something went wrong!</p>
                </form>
            </mat-card>
        </div>
    </div>
</div>